#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-text h1,
.profile-text p,
.profile-text button {
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.profile-text h1 {
  animation-delay: 0.2s;
}

.profile-text p {
  animation-delay: 0.4s;
}

.profile-text button {
  animation-delay: 0.6s;
}

.profile-text button:hover {
  border-color: #565cce;
  border-width: 1px;
}


