@keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
.scroll-down {
    animation: bounce 1.5s infinite;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative; 
    top: 200px;

    @media (max-width: 768px) {
        top: 150px; // Adjust this value for medium screens
      }
    
      @media (max-width: 480px) {
        top: 50px;
      }
}



.scroll-down p {
    margin: 0;
}